
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F9FA;
}

.rbc-day-bg,
.rbc-day-bg + .rbc-day-bg {
  display: flex;
  justify-content:center;
  align-items: center;
}
.rbc-row-content{
  height: 100%;
}
.rbc-month-row .rbc-row {
  height: 100%;
}
.rbc-date-cell {
  flex: 1 1;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 14px Montserrat !important;
}

.rbc-month-header .rbc-header{
  font: normal normal 500 14px Montserrat !important;
  padding:.5rem;
}
/* .rbc-current{
  background: #fff;
  padding: 2px;
} */
/* .rbc-off-range{
  background: #fff;
  padding: 2px;
} */